# Ignore Q2A config file and .htaccess in development
/qa-config.php
/.htaccess

# Ignore cached files
/qa-cache/*/

# Other files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
/nbproject/private/
data_files/
qa-plugin/ajax-images
qa-plugin/api
qa-plugin/Donut-admin
qa-lang/fr
qa-plugin/neayi
qa-plugin/q2a-ask-with-tags-list
qa-plugin/q2a-breadcrumbs
qa-plugin/q2a-email-notification
qa-plugin/q2a-markdown-editor
qa-plugin/q2a-open-login
qa-plugin/q2a-social-share
qa-theme/Donut-theme
qa-plugin/QA-Google-Analytics-Plugin
